.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  /* width:100%; */
  /* padding: 4rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f1fb;
  /* overflow: auto; */
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
.main p,
.main a,
.main button {
  font-family: "Nunito", "sans-serif";
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
